---
{
  title:"about"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <img data-scroll data-scroll-speed="2" src="../img/110.png" class="w-full md:w-[40%] z-[1]" alt="">
  <p  data-scroll data-scroll-speed="1" class="text-8xl md:text-[20rem] absolute text-white stroke  text-clip overflow-hidden text-center">ETAR MOVE 1</p>
</div>