<a class="text-white font-light group transition-all duration-500 ease-in-out text-sm" href="<%- page.srcfix+link %>">
  <i class="fal fa-angle-right group-hover:ml-0.5 transition-all duration-500 ease-in-out"></i><i class="fal fa-angle-right group-hover:ml-0.5 transition-all duration-500 ease-in-out"></i>
  <span class="group-hover:ml-0.5 transition-all duration-500 ease-in-out"><%- text %></span>
</a>