---
{
  title:"about"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center overflow-x-hidden w-screen">
  <%- include('img',{
    alt : "product",
    src : page.srcfix+"img/products/small/BH-53.png",
    md : page.srcfix+"img/products/large/BH-53.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p  data-scroll data-scroll-speed="1" class="text-8xl md:text-[20rem] absolute text-white stroke  text-clip overflow-hidden text-center w-full">ETAR MOVE 1</p>
</div>