@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter&display=swap');

* {
  /* font-family: "Fira Sans", sans-serif; */
  font-family: 'Inter', sans-serif;
}

.stroke{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(77, 77, 77, 0.186);
}

.stroke-red{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 0, 0);
}