---
{
"title":"ET-SP400",
"category": false,
"featured": false,
"name":"ET-SP400",
"type":"SPEAKER",
"img":"ET-SP400.png",
"features":"[object Object],[object Object],[object Object]"
}
---

<div data-scroll-section>
  <%- include('mini/img',{ 
    alt : "product",
    src : "../img/posters/mobile/ET-SP400.jpg",
    md : "../img/posters/desktop/ET-SP400.jpg", 
    pictureclass : "", 
    classes : "w-full", 
  }) %>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center  relative overflow-hidden items-center">
  <%- include('mini/img',{ 
    alt : "product",
    src : "../img/products/small/ET-SP400.png",
    md : "../img/products/large/ET-SP400.png", 
    pictureclass : "w-full md:w-[40%] z-[1]",
    classes : "" , 
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip text-center">
    ET-SP400
  </p>
</div>

<div data-scroll-section>
  <p class="py-3 px-6 font-medium tracking-wider text-center text-gray-700 uppercase">Color</p>
  <div class="flex space-x-2 justify-center">
    
    <div class="aspect-square w-8 rounded-md border" style="background-color: #000000;"></div>
    
  </div>
</div>

<div data-scroll-section class="mt-10 md:mt-10">
  <p class="py-3 px-6 font-medium tracking-wider text-center text-gray-700 uppercase">Feature</p>
  <div class="flex flex-col md:flex-row space-y-5 justify-center md:space-y-0 md:space-x-8">
    
    <div class="flex flex-col md:flex-row items-center md:space-x-5 space-y-3 md:space-y-0">
      <div class="p-2 md:p-3 bg-indigo-100 rounded-full w-16 h-16 flex items-center justify-center">
        <img class="w-8" src="../img/icons/sd-card.svg" alt="">
      </div>
      <p data-sal="slide-right" class="text-center md:text-left text-sm md:text-lg">
        SD Card Slot
      </p>
    </div>
    
    <div class="flex flex-col md:flex-row items-center md:space-x-5 space-y-3 md:space-y-0">
      <div class="p-2 md:p-3 bg-indigo-100 rounded-full w-16 h-16 flex items-center justify-center">
        <img class="w-8" src="../img/icons/radio-alt.svg" alt="">
      </div>
      <p data-sal="slide-right" class="text-center md:text-left text-sm md:text-lg">
        Fm Radio
      </p>
    </div>
    
    <div class="flex flex-col md:flex-row items-center md:space-x-5 space-y-3 md:space-y-0">
      <div class="p-2 md:p-3 bg-indigo-100 rounded-full w-16 h-16 flex items-center justify-center">
        <img class="w-8" src="../img/icons/wifi-2.svg" alt="">
      </div>
      <p data-sal="slide-right" class="text-center md:text-left text-sm md:text-lg">
        Wireless
      </p>
    </div>
    
  </div>
</div>




<div data-scroll-section class="mt-10 md:mt-10">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden flex justify-center">
        <table class="min-w-fit w-1/2 max-w-3xl">
          <thead class="bg-gray-100">
            <tr>
              <th scope="col" colspan="2"
                class="py-3 px-6 font-medium tracking-wider text-center text-gray-700 uppercase">
                specification
              </th>
            </tr>
          </thead>
          <tbody>
            
            <tr
              class="border-b odd:bg-white even:bg-gray-50">
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                Blutooth version
              </td>
              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
                5.0
              </td>
            </tr>
            
            <tr
              class="border-b odd:bg-white even:bg-gray-50">
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                Speaker unit
              </td>
              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
                4Ω
              </td>
            </tr>
            
            <tr
              class="border-b odd:bg-white even:bg-gray-50">
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                Frequency response
              </td>
              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
                90Hz-20KHz
              </td>
            </tr>
            
            <tr
              class="border-b odd:bg-white even:bg-gray-50">
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                Battery capacity
              </td>
              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
                1200mAh
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
