<div class="relative landscape:min-h-screen">
  <div data-scroll data-scroll-speed="1" class="">
    <%- include('../mini/img',{
      alt : "etar",
      src : "img/posters/mobile/"+img,
      md : "img/posters/desktop/"+img,
      classes : "w-full",
    }) %>
  </div>
</div>