---
{
"title":"about"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <p data-scroll data-scroll-speed="2" class="text-6xl md:text-9xl z-[1]">ABOUT</p>
  <p split data-scroll-speed="1" class="text-8xl md:text-[20rem] absolute text-white stroke">ABOUT</p>
</div>

<article data-scroll-section class="mx-auto prose lg:prose-xl prose-neutral rounded-md">
  <h1 class="text-center">About Etar india</h1>
  <blockquote>Welcome To the World Of ETAR Mobile Accessories !</blockquote>
    
  <p>
    Established in 2017 and having it's headquarters in Mumbai, ETAR is India's most progressive Consumer Mobile
    Accessories brand. ETAR came into existence with an aim to deliver affordable and quality range of mobile accessories
    in every Indian household. Its high quality products and dedicated customer support have helped it grow immensely in
    recent years.You can choose from a range of latest products Bluetooth Neckband, TWS, Specker, Stand, Earphone,
    Battery, Data Cable, Otg, Mobile Case and many more flagship products at
    best price range. Our offerings are a perfect blend of innovative technologies, unique designs, and compelling
    prices. We are committed to bringing you high-quality products that boast reliable components with sleek exteriors.
  </p>
  <p>
    The ETAR team has seasoned and talented professionals with decades of experience in lifestyle products, designing,
    and ecommerce technologies. Our dedication to customer satisfaction and ability to provide the best products drive
    our operations effectively.
  </p>
  <p>
    Be a part of ETAR Family to get an amazing experience of world class high quality mobile accessories
  </p>
</article>