---
{
  "title":"contact"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <p data-scroll data-scroll-speed="2" class="text-6xl md:text-9xl z-[1]">CONTACT</p>
  <p split data-scroll-speed="1" class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">CONTACT</p>
</div>

<div data-scroll-section class="container mx-auto">
  <div class="flex w-full">
    <div class="w-2/5"></div>
    <div class="w-3/5 flex flex-col space-y-5">
      <div class="flex w-full">
        <div class="px-2 w-full text-gray-500 focus-within:text-red-500">
          <p class="text-xs">First Name</p>
          <input type="text" class="!text-black border-0 border-b px-0 pt-0.5 border-b-black focus:border-b-red-600 focus:ring-transparent w-full">
        </div>
        <div class="px-2 w-full text-gray-500 focus-within:text-red-500">
          <p class="text-xs">Last Name</p>
          <input type="text" class="!text-black border-0 border-b px-0 pt-0.5 border-b-black focus:border-b-red-600 focus:ring-transparent w-full">
        </div>
      </div>
      <div class="flex w-full">
        <div class="px-2 w-full text-gray-500 focus-within:text-red-500">
          <p class="text-xs">Mail</p>
          <input type="text" class="!text-black border-0 border-b px-0 pt-0.5 border-b-black focus:border-b-red-600 focus:ring-transparent w-full">
        </div>
        <div class="px-2 w-full text-gray-500 focus-within:text-red-500">
          <p class="text-xs">Phone</p>
          <input type="text" class="!text-black border-0 border-b px-0 pt-0.5 border-b-black focus:border-b-red-600 focus:ring-transparent w-full">
        </div>
      </div>
      <div class="px-2 text-gray-500 focus-within:text-red-500">
        <p class="text-xs">Message</p>
        <textarea type="text" class="!text-black border-0 border-b px-0 pt-0.5 border-b-black focus:border-b-red-600 focus:ring-transparent w-full"></textarea>
      </div>
      <div class="px-2 ml-auto">
        <button class="button-1 rounded text-sm p-4">Send Message</button>
      </div>
    </div>
  </div>
</div>  