---
{
  title:"Speaker"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <p data-scroll data-scroll-speed="2" class="text-6xl md:text-9xl z-[1]">MINI SPAKER</p>
  <p split data-scroll-speed="1" class="text-8xl md:text-[20rem] absolute text-white stroke">MINI SPEAKER</p>
</div>

<div data-scroll-section>

</div>