<a class="text-stone-600 font-light group transition-all duration-300" href="">
  <i class="fal fa-angle-right group-hover:ml-0.5 transition-all duration-300"></i><i class="fal fa-angle-right group-hover:ml-0.5 transition-all duration-300"></i>
  <span class="group-hover:ml-0.5 transition-all duration-300"><%- text %></span>
</a>