---
{
"title":"ET-C12",
"name":"ET-C12",
"type":"earphone",
"img":"ET-C12.png"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/ET-C12.png",
    md : "../img/products/large/ET-C12.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ET-C12</p>
</div>