---
{
"title":"ET-Q21",
"category": false,
"featured": false,
"name":"ET-Q21",
"type":"EARPHONE",
"img":"ET-Q21.png",
"features":"[object Object],[object Object],[object Object]"
}
---

<div data-scroll-section>
  <%- include('mini/img',{
    alt : "product",
    src : "../img/posters/mobile/ET-Q21.jpg",
    md : "../img/posters/desktop/ET-Q21.jpg",
    classes : "",
  }) %>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/ET-Q21.png",
    md : "../img/products/large/ET-Q21.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ET-Q21</p>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #000000;" ></div>
  
  </div>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div>Hi-Fi Stereo</div>
  
  <div>Noise Isolation</div>
  
  <div>In-line Mic</div>
  
  </div>
</div>