---
{
"title":"ET-S19",
"category": false,
"featured": false,
"name":"ET-S19",
"type":"STAND",
"img":"ET-S19.png",
"features":""
}
---

<div data-scroll-section>
  <%- include('mini/img',{
    alt : "product",
    src : "../img/posters/mobile/ET-S19.jpg",
    md : "../img/posters/desktop/ET-S19.jpg",
    classes : "",
  }) %>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/ET-S19.png",
    md : "../img/products/large/ET-S19.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ET-S19</p>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #000000;" ></div>
  
  </div>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  </div>
</div>