---
{
"title":"ET-SP45",
"category": false,
"featured": false,
"name":"ET-SP45",
"type":"SPEAKER",
"img":"ET-SP45.png",
"features":"[object Object],[object Object],[object Object]"
}
---

<div data-scroll-section>
  <%- include('mini/img',{
    alt : "product",
    src : "../img/posters/mobile/ET-SP45.jpg",
    md : "../img/posters/desktop/ET-SP45.jpg",
    classes : "",
  }) %>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/ET-SP45.png",
    md : "../img/products/large/ET-SP45.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ET-SP45</p>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #000000;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #C42F31;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #ED9660;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #4A6DB0;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #BEBDC2;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #728C8E;" ></div>
  
  </div>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div>SD Card Slot</div>
  
  <div>Fm Radio</div>
  
  <div>Wireless</div>
  
  </div>
</div>