---
{
"title":"ET-SP34",
"category": false,
"featured": false,
"name":"ET-SP34",
"type":"SPEAKER",
"img":"ET-SP34.png",
"features":"[object Object],[object Object],[object Object]"
}
---

<div data-scroll-section>
  <%- include('mini/img',{
    alt : "product",
    src : "../img/posters/mobile/ET-SP34.jpg",
    md : "../img/posters/desktop/ET-SP34.jpg",
    classes : "",
  }) %>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/ET-SP34.png",
    md : "../img/products/large/ET-SP34.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ET-SP34</p>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #DC2C2F;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #DC2C2F;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #83C0D2;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #31483D;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #E96F38;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #BCBDC3;" ></div>
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #9ED3CF;" ></div>
  
  </div>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div>SD Card Slot</div>
  
  <div>Fm Radio</div>
  
  <div>Wireless</div>
  
  </div>
</div>