---
{
"title":"ET-TR200",
"category": false,
"featured": false,
"name":"ET-TR200",
"type":"STAND",
"img":"ET-TR200.png",
"features":"[object Object],[object Object]"
}
---

<div data-scroll-section>
  <%- include('mini/img',{ alt : "product" , src : "../img/posters/mobile/ET-TR200.jpg" , md
    : "../img/posters/desktop/ET-TR200.jpg" , classes : "" , }) %>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center  relative overflow-hidden items-center">
  <%- include('mini/img',{ alt : "product" , src : "../img/products/small/ET-TR200.png" , md
    : "../img/products/large/ET-TR200.png" , classes : "w-full md:w-[40%] z-[1]" , }) %>
    <p data-scroll data-scroll-speed="1"
      class="text-8xl md:text-[20rem] absolute text-white stroke text-clip text-center">
      ET-TR200</p>
</div>

<div data-scroll-section>
  <div class="flex space-x-2 justify-center">
    
    <div class="aspect-square w-8 rounded-md border" style="background-color: #000000;"></div>
    
  </div>
</div>

<div data-scroll-section class="mt-10 md:mt-5">
  <div class="flex flex-col md:flex-row space-y-5 justify-center md:space-y-0 md:space-x-8">
    
    <div class="flex flex-col md:flex-row items-center md:space-x-5 space-y-3 md:space-y-0">
      <div class="p-2 md:p-3 bg-indigo-100 rounded-full w-16 h-16 flex items-center justify-center">
        <img class="w-8" src="../img/icons/material.svg" alt="">
      </div>
      <p data-sal="slide-right" class="text-center md:text-left text-sm md:text-lg">
        Premium Material
      </p>
    </div>
    
    <div class="flex flex-col md:flex-row items-center md:space-x-5 space-y-3 md:space-y-0">
      <div class="p-2 md:p-3 bg-indigo-100 rounded-full w-16 h-16 flex items-center justify-center">
        <img class="w-8" src="../img/icons/360.svg" alt="">
      </div>
      <p data-sal="slide-right" class="text-center md:text-left text-sm md:text-lg">
        360° Rotation
      </p>
    </div>
    
  </div>
</div>