---
{
"title":"ETAR2",
"category": false,
"featured": false,
"name":"ETAR2",
"type":"EARPHONE",
"img":"ETAR2.png"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/ETAR2.png",
    md : "../img/products/large/ETAR2.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ETAR2</p>
</div>