---
{
"title":"EX-999",
"category": false,
"featured": false,
"name":"EX-999",
"type":"EARPHONE",
"img":"EX-999.png"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/EX-999.png",
    md : "../img/products/large/EX-999.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">EX-999</p>
</div>