---
{
"title":"PB-701",
"featured":true,
"category":true,
"name":"PB-701",
"type":"POWERBANK",
"img":"PB-701.png"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/PB-701.png",
    md : "../img/products/large/PB-701.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">PB-701</p>
</div>