---
{
"title":"R17",
"category": true,
"featured": true,
"name":"R17",
"type":"EARBUDS",
"img":"R17.png"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/R17.png",
    md : "../img/products/large/R17.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">R17</p>
</div>