---
{
"title":"ROYAL-SERIES-BATTERY",
"category": true,
"featured": false,
"name":"ROYAL-SERIES-BATTERY",
"type":"BATTERY",
"img":"ROYAL-SERIES-BATTERY.png",
"features":"[object Object]"
}
---

<div data-scroll-section>
  <%- include('mini/img',{
    alt : "product",
    src : "../img/posters/mobile/ROYAL-SERIES-BATTERY.jpg",
    md : "../img/posters/desktop/ROYAL-SERIES-BATTERY.jpg",
    classes : "",
  }) %>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/ROYAL-SERIES-BATTERY.png",
    md : "../img/products/large/ROYAL-SERIES-BATTERY.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ROYAL-SERIES-BATTERY</p>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div class="aspect-square w-5 rounded-md" style="background-color: #ffffff;" ></div>
  
  </div>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  
  <div>4000mAh</div>
  
  </div>
</div>