---
{
"title":"ROYAL-SERIES-BATTERY",
"featured":true,
"category":true,
"name":"ROYAL-SERIES-BATTERY",
"type":"BATTERY",
"img":"ROYAL-SERIES-BATTERY.png"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/TC-02.png",
    md : "../img/products/large/TC-02.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">ROYAL-SERIES-BATTERY</p>
</div>