---
{
"title":"S17",
"category": false,
"featured": false,
"name":"S17",
"type":"STAND",
"img":"S17.png"
}
---

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/S17.png",
    md : "../img/products/large/S17.png",
    classes : "w-full md:w-[40%] z-[1]",
  }) %>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center">S17</p>
</div>